{{- /* BEGIN DEFINE */ -}}
{{- define "Type"}}
{{- if eq . "bool"}}bool
{{- else if eq . "int32"}}int
{{- else if eq . "sint32"}}int
{{- else if eq . "uint32"}}uint
{{- else if eq . "int64"}}long
{{- else if eq . "sint64"}}long
{{- else if eq . "uint64"}}ulong
{{- else if eq . "sfixed32"}}int
{{- else if eq . "fixed32"}}uint
{{- else if eq . "float"}}float
{{- else if eq . "sfixed64"}}long
{{- else if eq . "fixed64"}}ulong
{{- else if eq . "double"}}double
{{- else if eq . "string"}}string
{{- else if eq . "bytes"}}byte[]
{{- else if eq . "timestamp"}}DateTime
{{- else if eq . "duration"}}TimeSpan
{{- else if eq . "empty"}}ValueTuple
{{- else}}{{.}}
{{- end}}
{{- end}}

{{- define "PropertyName"}}
{{- /*Protobuf reserved "Types" "Descriptor" "Equals" "ToString" "GetHashCode" "WriteTo" "Clone" "CalculateSize" "MergeFrom" "OnConstruction" "Parser"*/ -}}
{{- if eq .Name .Def.Name}}{{.Name}}_
{{- else if and (eq .Def.Kind "entity") (eq .Name "Id")}}{{.Name}}_
{{- else if eq .Name "Equals" "ToString" "GetHashCode" "ApplySync" "RaiseChanged" "ClearChanged"}}{{.Name}}_
{{- else}}{{.Name}}
{{- end}}
{{- end}}
{{- define "FieldName"}}{{lcFirst .Name}}_{{- end}}
{{- /* LIST TYPE */ -}}
{{- define "ListValueType"}}
{{- if eq .TypeKind "enum"}}{{.Type}}
{{- else if eq .TypeKind "component"}}{{.Type}}
{{- else}}{{template "Type" .Type}}
{{- end}}
{{- end}}
{{- /* MAP TYPE */ -}}
{{- define "MapValueType"}}
{{- if eq .TypeKind "enum"}}{{.Type}}
{{- else if eq .TypeKind "component"}}{{.Type}}
{{- else}}{{template "Type" .Type}}
{{- end}}
{{- end}}

{{- /* LIST */ -}}
{{- define "List"}}
	public static class {{.Name}}
	{
		public static void ApplySync(List<{{template "ListValueType" .}}> data, byte[] b)
		{
			data.Clear();
			var stream = new CodedInputStream(b);
			while (!stream.IsAtEnd)
			{
{{- if eq .TypeKind "component"}}
				var v = new {{.Type}}();
				v.ApplySync(stream.ReadBytes().ToByteArray());
				data.Add(v);
{{- else if eq .TypeKind "enum"}}
				data.Add(({{.Type}})stream.ReadEnum());
{{- else if eq .Type "bool"}}
				data.Add(stream.ReadBool());
{{- else if eq .Type "int32"}}
				data.Add(stream.ReadInt32());
{{- else if eq .Type "sint32"}}
				data.Add(stream.ReadSInt32());
{{- else if eq .Type "uint32"}}
				data.Add(stream.ReadUInt32());
{{- else if eq .Type "int64"}}
				data.Add(stream.ReadInt64());
{{- else if eq .Type "sint64"}}
				data.Add(stream.ReadSInt64());
{{- else if eq .Type "uint64"}}
				data.Add(stream.ReadUInt64());
{{- else if eq .Type "fixed32"}}
				data.Add(stream.ReadFixed32());
{{- else if eq .Type "sfixed32"}}
				data.Add(stream.ReadSFixed32());
{{- else if eq .Type "fixed64"}}
				data.Add(stream.ReadFixed64());
{{- else if eq .Type "sfixed64"}}
				data.Add(stream.ReadSFixed64());
{{- else if eq .Type "float"}}
				data.Add(stream.ReadFloat());
{{- else if eq .Type "double"}}
				data.Add(stream.ReadDouble());
{{- else if eq .Type "string"}}
				data.Add(stream.ReadString());
{{- else if eq .Type "bytes"}}
				data.Add(stream.ReadBytes());
{{- else if eq .Type "timestamp"}}
				data.Add(Timestamp.Parser.ParseFrom(stream).ToDateTime());
{{- else if eq .Type "duration"}}
				data.Add(Duration.Parser.ParseFrom(stream).ToTimeSpan());
{{- else if eq .Type "empty"}}
				Empty.Parser.ParseFrom(stream);
				data.Add(default);
{{- end}}
			}
		}

		public static void RaiseChanged(List<{{template "ListValueType" .}}> data)
		{

		}

		public static void ClearChanged(List<{{template "ListValueType" .}}> data)
		{

		}
	}
{{- end}}

{{- /* MAP */ -}}
{{- define "Map"}}
	public static class {{.Name}}
	{
		public static void ApplySync(Dictionary<{{template "Type" .KeyType}}, {{template "MapValueType" .}}> data, byte[] b)
		{
			var stream = new CodedInputStream(b);
			var clear = false;
			byte[] deletes = [];
			var entries = new List<byte[]>();
			uint tag;
			while ((tag = stream.ReadTag()) != 0)
			{
				var num = WireFormat.GetTagFieldNumber(tag);
				switch (num)
				{
				case 1: // MapClearFieldNumber
					clear = stream.ReadBool();
					break;
				case 2: // MapDeleteFieldNumber
					deletes = stream.ReadBytes().ToByteArray();
					break;
				case 3: // MapEntryFieldNumber
					entries.Add(stream.ReadBytes().ToByteArray());
					break;
				default:
					stream.SkipLastField();
					break;
				}
			}
			if (clear)
			{
				data.Clear();
			}
			stream = new CodedInputStream(deletes);
			while (!stream.IsAtEnd)
			{
{{- if eq .KeyType "int32"}}
				data.Remove(stream.ReadInt32());
{{- else if eq .KeyType "int64"}}
				data.Remove(stream.ReadInt64());
{{- else if eq .KeyType "uint32"}}
				data.Remove(stream.ReadUInt32());
{{- else if eq .KeyType "uint64"}}
				data.Remove(stream.ReadUInt64());
{{- else if eq .KeyType "sint64"}}
				data.Remove(stream.ReadSInt32());
{{- else if eq .KeyType "sint64"}}
				data.Remove(stream.ReadSInt64());
{{- else if eq .KeyType "sfixed32"}}
				data.Remove(stream.ReadSFixed32());
{{- else if eq .KeyType "sfixed64"}}
				data.Remove(stream.ReadSFixed64());
{{- else if eq .KeyType "bool"}}
				data.Remove(stream.ReadBool());
{{- else if eq .KeyType "string"}}
				data.Remove(stream.ReadString());
{{- else}}
				stream.SkipLastField();
{{- end}}
			}
			foreach (var entry in entries)
			{
				stream = new CodedInputStream(entry);
				{{template "Type" .KeyType}} k = default;
{{- if eq .TypeKind "component"}}
				byte[] v = [];
{{- else if eq .TypeKind "enum"}}
				{{.Type}} v = default;
{{- else}}
				{{template "MapValueType" .}} v = default;
{{- end}}
				while ((tag = stream.ReadTag()) != 0)
				{
					var num = WireFormat.GetTagFieldNumber(tag);
					switch (num)
					{
					case 1: // MapEntryKeyFieldNumber
{{- if eq .KeyType "int32"}}
						k = stream.ReadInt32();
{{- else if eq .KeyType "int64"}}
						k = stream.ReadInt64();
{{- else if eq .KeyType "uint32"}}
						k = stream.ReadUInt32();
{{- else if eq .KeyType "uint64"}}
						k = stream.ReadUInt64();
{{- else if eq .KeyType "sint64"}}
						k = stream.ReadSInt32();
{{- else if eq .KeyType "sint64"}}
						k = stream.ReadSInt64();
{{- else if eq .KeyType "sfixed32"}}
						k = stream.ReadSFixed32();
{{- else if eq .KeyType "sfixed64"}}
						k = stream.ReadSFixed64();
{{- else if eq .KeyType "bool"}}
						k = stream.ReadBool();
{{- else if eq .KeyType "string"}}
						k = stream.ReadString();
{{- else}}
						stream.SkipLastField();
{{- end}}
						break;
					case 2: // MapEntryValueFieldNumber
{{- if eq .TypeKind "component"}}
						v = stream.ReadBytes().ToByteArray();
{{- else if eq .TypeKind "enum"}}
						v = ({{.Type}})stream.ReadEnum();
{{- else if eq .Type "bool"}}
						v = stream.ReadBool();
{{- else if eq .Type "int32"}}
						v = stream.ReadInt32();
{{- else if eq .Type "sint32"}}
						v = stream.ReadSInt32();
{{- else if eq .Type "uint32"}}
						v = stream.ReadUInt32();
{{- else if eq .Type "int64"}}
						v = stream.ReadInt64();
{{- else if eq .Type "sint64"}}
						v = stream.ReadSInt64();
{{- else if eq .Type "uint64"}}
						v = stream.ReadUInt64();
{{- else if eq .Type "fixed32"}}
						v = stream.ReadFixed32();
{{- else if eq .Type "sfixed32"}}
						v = stream.ReadSFixed32();
{{- else if eq .Type "fixed64"}}
						v = stream.ReadFixed64();
{{- else if eq .Type "sfixed64"}}
						v = stream.ReadSFixed64();
{{- else if eq .Type "float"}}
						v = stream.ReadFloat();
{{- else if eq .Type "double"}}
						v = stream.ReadDouble();
{{- else if eq .Type "string"}}
						v = stream.ReadString();
{{- else if eq .Type "bytes"}}
						v = stream.ReadBytes().ToByteArray();
{{- else if eq .Type "timestamp"}}
						v = Timestamp.Parser.ParseFrom(stream).ToDateTime();
{{- else if eq .Type "duration"}}
						v = Duration.Parser.ParseFrom(stream).ToTimeSpan();
{{- else if eq .Type "empty"}}
						Empty.Parser.ParseFrom(stream);
{{- else}}
						stream.SkipLastField();
{{- end}}
						break;
					default:
						stream.SkipLastField();
						break;
					}
				}
{{- if eq .TypeKind "component"}}
				if (data.TryGetValue(k, out var c))
				{
					c.ApplySync(v);	
				}
				else
				{
					c = new {{.Type}}();
					c.ApplySync(v);
					data[k] = c;
				}
{{- else}}
				data[k] = v;
{{- end}}
			}
		}

		public static void RaiseChanged(Dictionary<{{template "Type" .KeyType}}, {{template "MapValueType" .}}> data)
		{
			// FIXME:
		}

		public static void ClearChanged(Dictionary<{{template "Type" .KeyType}}, {{template "MapValueType" .}}> data)
		{
			// FIXME:
		}
	}
{{- end}}

{{- /* ENUM */ -}}
{{- define "Enum"}}
	public enum {{.Name}}
	{
{{- range .EnumFields}}
		{{.Name}} = {{.Value}},
{{- end}}
	}
{{- end}}

{{- /* MESSAGE */ -}}
{{- define "Message"}}
{{- $MessageName := .Name}}

{{- range .Fields}}
{{/* EMPTY LINE */}}
{{- if .Repeated}}
		private List<{{template "ListValueType" .}}> {{template "FieldName" .}};
		public List<{{template "ListValueType" .}}> {{template "PropertyName" .}} => {{template "FieldName" .}};
{{- else if .Map}}
		private Dictionary<{{template "Type" .KeyType}}, {{template "MapValueType" .}}> {{template "FieldName" .}};
		public Dictionary<{{template "Type" .KeyType}}, {{template "MapValueType" .}}> {{template "PropertyName" .}} => {{template "FieldName" .}};
{{- else if eq .TypeKind "component"}}
		private {{.Type}} {{template "FieldName" .}};
		public {{.Type}} {{template "PropertyName" .}} => {{template "FieldName" .}};
{{- else}}
		private {{template "Type" .Type}} {{template "FieldName" .}};
		public {{template "Type" .Type}} {{template "PropertyName" .}} => {{template "FieldName" .}};
{{- end}}
		public bool Is{{.Name}}Changed => (_changed & (0x01 << {{.Number}})) != 0;
{{- end}}

		private long _changed;

		public event Action<{{$MessageName}}, EventChanged>? OnChanged;

		public class EventChanged
		{
			public long _changed;
{{- range .Fields}}
			public bool {{.Name}} => (_changed & (0x01 << {{.Number}})) != 0;
{{- end}}

			public EventChanged(long changed)
			{
				_changed = changed;
			}
		}

		public void ApplySync(byte[] b)
		{
			var stream = new CodedInputStream(b);
			uint tag;
			while ((tag = stream.ReadTag()) != 0)
			{
				var num = WireFormat.GetTagFieldNumber(tag);
				switch (num)
				{
{{- range .Fields}}
				case {{.Number}}:
{{- if .Repeated}}
					{{.ListType}}.ApplySync({{template "FieldName" .}}, stream.ReadBytes().ToByteArray());
{{- else if .Map}}
					{{.MapType}}.ApplySync({{template "FieldName" .}}, stream.ReadBytes().ToByteArray());
{{- else if eq .TypeKind "component"}}
					{{template "FieldName" .}}.ApplySync(stream.ReadBytes().ToByteArray());
{{- else if eq .TypeKind "enum"}}
					{{template "FieldName" .}} = ({{.Type}})stream.ReadEnum();
{{- else if eq .Type "bool"}}
					{{template "FieldName" .}} = stream.ReadBool();
{{- else if eq .Type "int32"}}
					{{template "FieldName" .}} = stream.ReadInt32();
{{- else if eq .Type "sint32"}}
					{{template "FieldName" .}} = stream.ReadSInt32();
{{- else if eq .Type "uint32"}}
					{{template "FieldName" .}} = stream.ReadUInt32();
{{- else if eq .Type "int64"}}
					{{template "FieldName" .}} = stream.ReadInt64();
{{- else if eq .Type "sint64"}}
					{{template "FieldName" .}} = stream.ReadSInt64();
{{- else if eq .Type "uint64"}}
					{{template "FieldName" .}} = stream.ReadUInt64();
{{- else if eq .Type "fixed32"}}
					{{template "FieldName" .}} = stream.ReadFixed32();
{{- else if eq .Type "sfixed32"}}
					{{template "FieldName" .}} = stream.ReadSFixed32();
{{- else if eq .Type "fixed64"}}
					{{template "FieldName" .}} = stream.ReadFixed64();
{{- else if eq .Type "sfixed64"}}
					{{template "FieldName" .}} = stream.ReadSFixed64();
{{- else if eq .Type "float"}}
					{{template "FieldName" .}} = stream.ReadFloat();
{{- else if eq .Type "double"}}
					{{template "FieldName" .}} = stream.ReadDouble();
{{- else if eq .Type "string"}}
					{{template "FieldName" .}} = stream.ReadString();
{{- else if eq .Type "bytes"}}
					{{template "FieldName" .}} = stream.ReadBytes().ToByteArray();
{{- else if eq .Type "timestamp"}}
					{{template "FieldName" .}} = Timestamp.Parser.ParseFrom(stream).ToDateTime();
{{- else if eq .Type "duration"}}
					{{template "FieldName" .}} = Duration.Parser.ParseFrom(stream).ToTimeSpan();
{{- else if eq .Type "empty"}}
					Empty.Parser.ParseFrom(stream);
{{- else}}
					stream.SkipLastField();
{{- end}}
					_changed |= 0x01 << {{.Number}};
					break;
{{- end}}
				default:
					stream.SkipLastField();
					break;
				}
			}
		}

		public void RaiseChanged()
		{
			if (_changed == 0)
				return;
{{- range .Fields}}
{{- if .Repeated}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{.ListType}}.RaiseChanged({{template "FieldName" .}});
{{- else if .Map}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{.MapType}}.RaiseChanged({{template "FieldName" .}});
{{- else if eq .TypeKind "component"}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{template "FieldName" .}}.RaiseChanged();
{{- end}}
{{- end}}
			OnChanged?.Invoke(this, new EventChanged(_changed));
		}

		public void ClearChanged()
		{
			if (_changed == 0)
				return;
{{- range .Fields}}
{{- if .Repeated}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{.ListType}}.ClearChanged({{template "FieldName" .}});
{{- else if .Map}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{.MapType}}.ClearChanged({{template "FieldName" .}});
{{- else if eq .TypeKind "component"}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{template "FieldName" .}}.ClearChanged();
{{- end}}
{{- end}}
			_changed = 0;
		}
{{- end}}

{{- /* ENTITY */ -}}
{{- define "Entity"}}
{{- $EntityName := .Name}}
	public class {{.Name}}
	{
		private readonly long _id;
		public long Id => _id;

		public {{.Name}}(long id)
		{
			_id = id;
{{- range .Fields}}
{{- if .Repeated}}
			{{template "FieldName" .}} = new List<{{template "ListValueType" .}}>();
{{- else if .Map}}
			{{template "FieldName" .}} = new Dictionary<{{template "Type" .KeyType}}, {{template "MapValueType" .}}>();
{{- else if eq .TypeKind "component"}}
			{{template "FieldName" .}} = new {{.Type}}();
{{- else if eq .Type "string"}}
			{{template "FieldName" .}} = string.Empty;
{{- else if eq .Type "bytes"}}
			{{template "FieldName" .}} = [];
{{- else}}
{{- end}}
{{- end}}
		}
{{- template "Message" .}}
	}
{{- end}}

{{- /* COMPONENT */ -}}
{{- define "Component"}}
	public class {{.Name}}
	{
		public {{.Name}}()
		{
{{- range .Fields}}
{{- if .Repeated}}
			{{template "FieldName" .}} = new List<{{template "ListValueType" .}}>();
{{- else if .Map}}
			{{template "FieldName" .}} = new Dictionary<{{template "Type" .KeyType}}, {{template "MapValueType" .}}>();
{{- else if eq .TypeKind "component"}}
			{{template "FieldName" .}} = new {{.Type}}();
{{- else if eq .Type "string"}}
			{{template "FieldName" .}} = string.Empty;
{{- else if eq .Type "bytes"}}
			{{template "FieldName" .}} = [];
{{- else}}
{{- end}}
{{- end}}
		}
{{- template "Message" .}}
	}
{{- end}}
{{- /* END DEFINE */ -}}
{{- /* BEGIN CS */ -}}
// Code generated by kds. DO NOT EDIT.
// source: {{.SourceFile}}

{{- if or (len .Entities) (len .Components) (len .Types)}}
{{/* EMPTY LINE */}}
{{- $ImportSystem := false}}
{{- $ImportGeneric := false}}
{{- $ImportWellKnownTypes := false}}

{{- $ImportSystem = true}}

{{- range .Entities}}
{{- range .Fields}}
{{- if eq .Type "timestamp" "duration"}}
{{- $ImportSystem = true}}
{{- end}}
{{- if or .Repeated .Map}}
{{- $ImportGeneric = true}}
{{- else if eq .Type "timestamp" "duration" "empty"}}
{{- $ImportWellKnownTypes = true}}
{{- end}}
{{- end}}
{{- end}}

{{- range .Components}}
{{- range .Fields}}
{{- if eq .Type "timestamp" "duration"}}
{{- $ImportSystem = true}}
{{- end}}
{{- if or .Repeated .Map}}
{{- $ImportGeneric = true}}
{{- else if eq .Type "timestamp" "duration" "empty"}}
{{- $ImportWellKnownTypes = true}}
{{- end}}
{{- end}}
{{- end}}

{{- if or (len .MapTypes) (len .ListTypes)}}
{{- range .ListTypes}}
{{- if eq .Type "timestamp" "duration"}}
{{- $ImportSystem = true}}
{{- end}}
{{- if eq .Type "timestamp" "duration" "empty"}}
{{- $ImportWellKnownTypes = true}}
{{- end}}
{{- end}}
{{- range .MapTypes}}
{{- if eq .Type "timestamp" "duration"}}
{{- $ImportSystem = true}}
{{- end}}
{{- if eq .Type "timestamp" "duration" "empty"}}
{{- $ImportWellKnownTypes = true}}
{{- end}}
{{- end}}
{{- $ImportGeneric = true}}
{{- end}}

{{- if $ImportSystem}}
using System;
{{- end}}
{{- if $ImportGeneric}}
using System.Collections.Generic;
{{- end}}
using Google.Protobuf;
{{- if $ImportWellKnownTypes}}
using Google.Protobuf.WellKnownTypes;
{{- end}}

{{- end}}

namespace {{.Package}}
{
{{- $SpacesBefore := false}}
{{- /* COMMON TYPES */ -}}
{{- range .Types}}

{{- with findList .}}
{{- if .}}
{{- if $SpacesBefore}}{{- $SpacesBefore = true}}
{{/* EMPTY LINE */}}
{{- end}}
{{- template "List" .}}
{{- end}}
{{- end}}
{{- range findMap .}}
{{- if $SpacesBefore}}{{- $SpacesBefore = true}}
{{/* EMPTY LINE */}}
{{- end}}
{{- template "Map" .}}
{{- end}}

{{- end}}
{{- /* TOPLEVEL DEFINE */ -}}
{{- range .Defs}}
{{- if $SpacesBefore}}{{- $SpacesBefore = true}}
{{/* EMPTY LINE */}}
{{- end}}
{{- if eq .Kind "enum"}}
{{- template "Enum" .}}
{{- with findList .Name}}
{{- if .}}
{{/* EMPTY LINE */}}
{{- template "List" .}}
{{- end}}
{{- end}}
{{- range findMap .Name}}
{{/* EMPTY LINE */}}
{{- template "Map" .}}
{{- end}}

{{- else if eq .Kind "entity"}}
{{- template "Entity" .}}

{{- else if eq .Kind "component"}}
{{- template "Component" .}}
{{- with findList .Name}}
{{- if .}}
{{/* EMPTY LINE */}}
{{- template "List" .}}
{{- end}}
{{- end}}
{{- range findMap .Name}}
{{/* EMPTY LINE */}}
{{- template "Map" .}}
{{- end}}
{{- end}}

{{- end}}
}
{{/* EMPTY LINE */}}
{{- /* END CS */ -}}