{{- /* BEGIN DEFINE */ -}}
{{- define "Type"}}
{{- if eq . "bool"}}bool
{{- else if eq . "int32"}}int
{{- else if eq . "sint32"}}int
{{- else if eq . "uint32"}}uint
{{- else if eq . "int64"}}long
{{- else if eq . "sint64"}}long
{{- else if eq . "uint64"}}ulong
{{- else if eq . "sfixed32"}}int
{{- else if eq . "fixed32"}}uint
{{- else if eq . "float"}}float
{{- else if eq . "sfixed64"}}long
{{- else if eq . "fixed64"}}ulong
{{- else if eq . "double"}}double
{{- else if eq . "string"}}string
{{- else if eq . "bytes"}}byte[]
{{- else if eq . "timestamp"}}Kdsync.Timestamp
{{- else if eq . "duration"}}Kdsync.Duration
{{- else if eq . "empty"}}Kdsync.Empty
{{- else}}{{.}}
{{- end}}
{{- end}}

{{- define "FieldCodec"}}
{{- if eq .Type "bool"}}Kdsync.FieldCodec.ForBool()
{{- else if eq .Type "int32"}}Kdsync.FieldCodec.ForInt32()
{{- else if eq .Type "sint32"}}Kdsync.FieldCodec.ForSInt32()
{{- else if eq .Type "uint32"}}Kdsync.FieldCodec.ForUInt32()
{{- else if eq .Type "int64"}}Kdsync.FieldCodec.ForInt64()
{{- else if eq .Type "sint64"}}Kdsync.FieldCodec.ForSInt64()
{{- else if eq .Type "uint64"}}Kdsync.FieldCodec.ForUInt64()
{{- else if eq .Type "sfixed32"}}Kdsync.FieldCodec.SFixed32()
{{- else if eq .Type "fixed32"}}Kdsync.FieldCodec.Fixed32()
{{- else if eq .Type "float"}}Kdsync.FieldCodec.ForFloat()
{{- else if eq .Type "sfixed64"}}Kdsync.FieldCodec.ForSFixed64()
{{- else if eq .Type "fixed64"}}Kdsync.FieldCodec.ForFixed64()
{{- else if eq .Type "double"}}Kdsync.FieldCodec.ForDouble()
{{- else if eq .Type "string"}}Kdsync.FieldCodec.ForString()
{{- else if eq .Type "bytes"}}Kdsync.FieldCodec.ForBytes()
{{- else if eq .Type "timestamp"}}Kdsync.FieldCodec.ForTimestamp()
{{- else if eq .Type "duration"}}Kdsync.FieldCodec.ForDuration()
{{- else if eq .Type "empty"}}Kdsync.FieldCodec.ForEmpty()
{{- else if eq .TypeKind "enum"}}Kdsync.FieldCodec.ForEnum(x => (int)x, x => ({{.Type}})x)
{{- else}}Kdsync.FieldCodec.ForMessage<{{.Type}}>()
{{- end}}
{{- end}}

{{- define "KeyCodec"}}
{{- if eq .KeyType "bool"}}Kdsync.FieldCodec.ForBool()
{{- else if eq .KeyType "int32"}}Kdsync.FieldCodec.ForInt32()
{{- else if eq .KeyType "sint32"}}Kdsync.FieldCodec.ForSInt32()
{{- else if eq .KeyType "uint32"}}Kdsync.FieldCodec.ForUInt32()
{{- else if eq .KeyType "int64"}}Kdsync.FieldCodec.ForInt64()
{{- else if eq .KeyType "sint64"}}Kdsync.FieldCodec.ForSInt64()
{{- else if eq .KeyType "uint64"}}Kdsync.FieldCodec.ForUInt64()
{{- else if eq .KeyType "sfixed32"}}Kdsync.FieldCodec.SFixed32()
{{- else if eq .KeyType "fixed32"}}Kdsync.FieldCodec.Fixed32()
{{- else if eq .KeyType "sfixed64"}}Kdsync.FieldCodec.ForSFixed64()
{{- else if eq .KeyType "fixed64"}}Kdsync.FieldCodec.ForFixed64()
{{- else if eq .KeyType "string"}}Kdsync.FieldCodec.ForString()
{{- else}}
{{- end}}
{{- end}}

{{- define "MapCodec"}}Kdsync.Map<{{template "Type" .KeyType}}, {{template "Type" .Type}}>.Codec({{template "KeyCodec" .}}, {{template "FieldCodec" .}}, {{.Number}})
{{- end}}

{{- define "PropertyName"}}
{{- /*Protobuf reserved "Types" "Descriptor" "Equals" "ToString" "GetHashCode" "WriteTo" "Clone" "CalculateSize" "MergeFrom" "OnConstruction" "Parser"*/ -}}
{{- if eq .Name .Def.Name}}{{.Name}}_
{{- else if and (eq .Def.Kind "entity") (eq .Name "Id")}}{{.Name}}_
{{- else if eq .Name "Equals" "ToString" "GetHashCode" "WriteTo" "Clone" "CalculateSize" "MergeFrom" "RaiseChanged" "ClearChanged"}}{{.Name}}_
{{- else}}{{.Name}}
{{- end}}
{{- end}}
{{- define "FieldName"}}{{lcFirst .Name}}_{{- end}}
{{- /* LIST TYPE */ -}}
{{- define "ListValueType"}}
{{- if eq .TypeKind "enum"}}{{.Type}}
{{- else if eq .TypeKind "component"}}{{.Type}}
{{- else}}{{template "Type" .Type}}
{{- end}}
{{- end}}
{{- /* MAP TYPE */ -}}
{{- define "MapValueType"}}
{{- if eq .TypeKind "enum"}}{{.Type}}
{{- else if eq .TypeKind "component"}}{{.Type}}
{{- else}}{{template "Type" .Type}}
{{- end}}
{{- end}}

{{- /* ENUM */ -}}
{{- define "Enum"}}
	public enum {{.Name}}
	{
{{- range .EnumFields}}
		{{.Name}} = {{.Value}},
{{- end}}
	}
{{- end}}

{{- /* MESSAGE */ -}}
{{- define "Message"}}
{{- $MessageName := .Name}}

{{- range .Fields}}
{{/* EMPTY LINE */}}
{{- if .Repeated}}
		private static readonly Kdsync.FieldCodec<{{template "Type" .Type}}> _list_{{template "FieldName" .}}_codec = {{template "FieldCodec" .}};
		private Kdsync.Repeated<{{template "Type" .Type}}> {{template "FieldName" .}};
		public Kdsync.Repeated<{{template "Type" .Type}}> {{template "PropertyName" .}} => {{template "FieldName" .}};
{{- else if .Map}}
		private static readonly Kdsync.Map<{{template "Type" .KeyType}}, {{template "Type" .Type}}>.Codec _map_{{template "FieldName" .}}_codec = new {{template "MapCodec" .}};
		private Kdsync.Map<{{template "Type" .KeyType}}, {{template "Type" .Type}}> {{template "FieldName" .}};
		public Kdsync.Map<{{template "Type" .KeyType}}, {{template "Type" .Type}}> {{template "PropertyName" .}} => {{template "FieldName" .}};
{{- else if eq .TypeKind "component"}}
		private {{.Type}} {{template "FieldName" .}};
		public {{.Type}} {{template "PropertyName" .}} => {{template "FieldName" .}};
{{- else}}
		private {{template "Type" .Type}} {{template "FieldName" .}};
		public {{template "Type" .Type}} {{template "PropertyName" .}} => {{template "FieldName" .}};
{{- end}}
{{- end}}

		private long _changed;

		public event Action<{{$MessageName}}, EventChanged>? OnChanged;

		public class EventChanged
		{
			public long _changed;
{{- range .Fields}}
			public bool {{.Name}} => (_changed & (0x01 << {{.Number}})) != 0;
{{- end}}

			public EventChanged(long changed)
			{
				_changed = changed;
			}
		}

		public void MergeFrom(ref Kdsync.ParseContext ctx)
		{
			uint tag;
			while ((tag = ctx.ReadTag()) != 0)
			{
				var num = Kdsync.WireFormat.GetTagFieldNumber(tag);
				switch (num)
				{
{{- range .Fields}}
					case {{.Number}}:
{{- if .Repeated}}
						{{template "FieldName" .}}.MergeFrom(ref ctx, _list_{{template "FieldName" .}}_codec);
{{- else if .Map}}
						{{template "FieldName" .}}.MergeFrom(ref ctx, _map_{{template "FieldName" .}}_codec);
{{- else if eq .TypeKind "component"}}
						ctx.ReadMessage({{template "FieldName" .}});
{{- else if eq .TypeKind "enum"}}
						{{template "FieldName" .}} = ({{.Type}})ctx.ReadEnum();
{{- else if eq .Type "bool"}}
						{{template "FieldName" .}} = ctx.ReadBool();
{{- else if eq .Type "int32"}}
						{{template "FieldName" .}} = ctx.ReadInt32();
{{- else if eq .Type "sint32"}}
						{{template "FieldName" .}} = ctx.ReadSInt32();
{{- else if eq .Type "uint32"}}
						{{template "FieldName" .}} = ctx.ReadUInt32();
{{- else if eq .Type "int64"}}
						{{template "FieldName" .}} = ctx.ReadInt64();
{{- else if eq .Type "sint64"}}
						{{template "FieldName" .}} = ctx.ReadSInt64();
{{- else if eq .Type "uint64"}}
						{{template "FieldName" .}} = ctx.ReadUInt64();
{{- else if eq .Type "fixed32"}}
						{{template "FieldName" .}} = ctx.ReadFixed32();
{{- else if eq .Type "sfixed32"}}
						{{template "FieldName" .}} = ctx.ReadSFixed32();
{{- else if eq .Type "fixed64"}}
						{{template "FieldName" .}} = ctx.ReadFixed64();
{{- else if eq .Type "sfixed64"}}
						{{template "FieldName" .}} = ctx.ReadSFixed64();
{{- else if eq .Type "float"}}
						{{template "FieldName" .}} = ctx.ReadFloat();
{{- else if eq .Type "double"}}
						{{template "FieldName" .}} = ctx.ReadDouble();
{{- else if eq .Type "string"}}
						{{template "FieldName" .}} = ctx.ReadString();
{{- else if eq .Type "bytes"}}
						{{template "FieldName" .}} = ctx.ReadBytes();
{{- else if eq .Type "timestamp"}}
						{{template "FieldName" .}} = ctx.ReadTimestamp();
{{- else if eq .Type "duration"}}
						{{template "FieldName" .}} = ctx.ReadDuration();
{{- else if eq .Type "empty"}}
						{{template "FieldName" .}} = ctx.ReadEmpty();
{{- else}}
						ctx.SkipLastField();
{{- end}}
						_changed |= 0x01 << {{.Number}};
						break;
{{- end}}
					default:
						ctx.SkipLastField();
						break;
				}
			}
		}

		public void RaiseChanged()
		{
			if (_changed == 0)
				return;
{{- range .Fields}}
{{- if .Repeated}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{template "FieldName" .}}.RaiseChanged();
{{- else if .Map}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{template "FieldName" .}}.RaiseChanged();
{{- else if eq .TypeKind "component"}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{template "FieldName" .}}.RaiseChanged();
{{- end}}
{{- end}}
			OnChanged?.Invoke(this, new EventChanged(_changed));
		}

		public void ClearChanged()
		{
			if (_changed == 0)
				return;
{{- range .Fields}}
{{- if .Repeated}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{template "FieldName" .}}.ClearChanged();
{{- else if .Map}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{template "FieldName" .}}.ClearChanged();
{{- else if eq .TypeKind "component"}}
			if ((_changed & (0x01 << {{.Number}})) != 0)
				{{template "FieldName" .}}.ClearChanged();
{{- end}}
{{- end}}
			_changed = 0;
		}

		public IEnumerable<KeyValuePair<string, object>> GetFields()
		{
{{- if len .Fields}}
			var fields = new List<KeyValuePair<string, object>>()
			{
{{- $lastIndex := len .Fields}}
{{- range $index, $value := .Fields}}
				new KeyValuePair<string, object>("{{.Name}}", {{template "FieldName" .}}){{- if ne $index $lastIndex}},{{- end}}
{{- end}}
			};
			return fields;
{{- else}}
			return new List<KeyValuePair<string, object>>();
{{- end}}
		}

		public override string ToString()
		{
			return Kdsync.JsonFormatter.Format(this);
		}
{{- end}}

{{- /* ENTITY */ -}}
{{- define "Entity"}}
{{- $EntityName := .Name}}
	public class {{.Name}} : Kdsync.IMessage
	{
		private readonly long _id;
		public long Id => _id;

		public {{.Name}}(long id)
		{
			_id = id;
{{- range .Fields}}
{{- if .Repeated}}
			{{template "FieldName" .}} = new Kdsync.Repeated<{{template "Type" .Type}}>();
{{- else if .Map}}
			{{template "FieldName" .}} = new Kdsync.Map<{{template "Type" .KeyType}}, {{template "Type" .Type}}>();
{{- else if eq .TypeKind "component"}}
			{{template "FieldName" .}} = new {{.Type}}();
{{- else if eq .Type "string"}}
			{{template "FieldName" .}} = string.Empty;
{{- else if eq .Type "bytes"}}
			{{template "FieldName" .}} = new byte[0];
{{- else}}
{{- end}}
{{- end}}
		}
{{- template "Message" .}}

		public void MergeFrom(byte[] buffer)
		{
			ReadOnlySpan<byte> readOnlySpan = new ReadOnlySpan<byte>(buffer);
			Kdsync.ParseContext.Initialize(readOnlySpan, out var ctx);
			MergeFrom(ref ctx);
		}
	}
{{- end}}

{{- /* COMPONENT */ -}}
{{- define "Component"}}
	public class {{.Name}} : Kdsync.IMessage
	{
		public {{.Name}}()
		{
{{- range .Fields}}
{{- if .Repeated}}
			{{template "FieldName" .}} = new Kdsync.Repeated<{{template "Type" .Type}}>();
{{- else if .Map}}
			{{template "FieldName" .}} = new Kdsync.Map<{{template "Type" .KeyType}}, {{template "Type" .Type}}>();
{{- else if eq .TypeKind "component"}}
			{{template "FieldName" .}} = new {{.Type}}();
{{- else if eq .Type "string"}}
			{{template "FieldName" .}} = string.Empty;
{{- else if eq .Type "bytes"}}
			{{template "FieldName" .}} = new byte[0];
{{- else}}
{{- end}}
{{- end}}
		}
{{- template "Message" .}}
	}
{{- end}}
{{- /* END DEFINE */ -}}
{{- /* BEGIN CS */ -}}
// Code generated by kds. DO NOT EDIT.
// source: {{.SourceFile}}

{{- if or (len .Entities) (len .Components) (len .Types)}}
{{/* EMPTY LINE */}}
using System;
using System.Collections.Generic;
{{- end}}

namespace {{ucFirst .Package}}
{
{{- $SpacesBefore := false}}
{{- /* COMMON TYPES */ -}}
{{- range .Types}}

{{- end}}
{{- /* TOPLEVEL DEFINE */ -}}
{{- range .Defs}}

{{- if $SpacesBefore}}
{{/* EMPTY LINE */}}
{{- end}}
{{- $SpacesBefore = true}}

{{- if eq .Kind "enum"}}
{{- template "Enum" .}}
{{- else if eq .Kind "entity"}}
{{- template "Entity" .}}
{{- else if eq .Kind "component"}}
{{- template "Component" .}}
{{- end}}

{{- end}}
}
{{/* EMPTY LINE */}}
{{- /* END CS */ -}}