{{- /* BEGIN DEFINE */ -}}
{{- define "Type"}}
{{- if eq . "bool"}}bool
{{- else if eq . "int32"}}int32
{{- else if eq . "sint32"}}int32
{{- else if eq . "uint32"}}uint32
{{- else if eq . "int64"}}int64
{{- else if eq . "sint64"}}int64
{{- else if eq . "uint64"}}uint64
{{- else if eq . "sfixed32"}}int32
{{- else if eq . "fixed32"}}uint32
{{- else if eq . "float"}}float32
{{- else if eq . "sfixed64"}}int64
{{- else if eq . "fixed64"}}uint64
{{- else if eq . "double"}}float64
{{- else if eq . "string"}}string
{{- else if eq . "bytes"}}[]byte
{{- else if eq . "timestamp"}}time.Time
{{- else if eq . "duration"}}time.Duration
{{- else if eq . "empty"}}struct{}
{{- else}}{{.}}
{{- end}}
{{- end}}
{{- /* FIELD TYPE */ -}}
{{- define "FieldType"}}
{{- if eq .TypeKind "enum"}}{{.Type}}
{{- else if eq .TypeKind "component"}}*{{.Type}}
{{- else}}{{template "Type" .Type}}
{{- end}}
{{- end}}
{{- /* FIELD CODEC */ -}}
{{- define "FieldCodec"}}
{{- if eq . "bool"}}kdsync.BoolCodec()
{{- else if eq . "int32"}}kdsync.Int32Codec()
{{- else if eq . "sint32"}}kdsync.Int32Codec()
{{- else if eq . "uint32"}}kdsync.Uint32Codec()
{{- else if eq . "int64"}}kdsync.Int64Codec()
{{- else if eq . "sint64"}}kdsync.Int64Codec()
{{- else if eq . "uint64"}}kdsync.Uint64Codec()
{{- else if eq . "sfixed32"}}kdsync.Int32Codec()
{{- else if eq . "fixed32"}}kdsync.Uint32Codec()
{{- else if eq . "float"}}kdsync.Float32Codec()
{{- else if eq . "sfixed64"}}kdsync.Int64Codec()
{{- else if eq . "fixed64"}}kdsync.Uint64Codec()
{{- else if eq . "double"}}kdsync.Float64Codec()
{{- else if eq . "string"}}kdsync.StringCodec()
{{- else if eq . "bytes"}}kdsync.BytesCodec()
{{- else if eq . "timestamp"}}kdsync.TimestampCodec()
{{- else if eq . "duration"}}kdsync.DurationCodec()
{{- else if eq . "empty"}}kdsync.EmptyCodec()
{{- else}}{{.}}
{{- end}}
{{- end}}
{{- /* ENUM FIELD CODEC */ -}}
{{- define "EnumCodec"}}kdsync.EnumCodec[{{.}}](){{- end}}
{{- /* REPEATED TYPE */ -}}
{{- define "RepeatedType"}}
{{- if eq .TypeKind "enum"}}kdsync.RepeatedField[{{.Type}}]
{{- else if eq .TypeKind "component"}}kdsync.RepeatedMessage[{{.Type}}, *{{.Type}}]
{{- else}}kdsync.RepeatedField[{{template "Type" .Type}}]
{{- end}}
{{- end}}
{{- /* MAP FIELD TYPE */ -}}
{{- define "MapType"}}
{{- if eq .TypeKind "component"}}kdsync.MapMessage[{{template "Type" .KeyType}}, {{.Type}}, *{{.Type}}]
{{- else}}kdsync.MapField[{{template "Type" .KeyType}}, {{template "FieldType" .}}]
{{- end}}
{{- end}}
{{- define "MessageType"}}message_{{.}}_type{{- end}}
{{- /* DIRTY TYPE*/ -}}
{{- define "DirtyType"}}
{{- if and (not .NoSync) (not .NoPersist)}}kdsync.DirtyType_SyncAndPersist
{{- else if not .NoSync}}kdsync.DirtyType_Sync
{{- else if not .NoPersist}}kdsync.DirtyType_Persist
{{- else}}kdsync.DirtyType_None
{{- end}}
{{- end}}

{{- /* ENUM */ -}}
{{- define "Enum"}}
{{- $EnumType := .Name}}
type {{.Name}} int32

const (
{{- range .EnumFields}}
	{{$EnumType}}_{{.Name}} {{$EnumType}} = {{.Value}}
{{- end}}
)
{{- end}}

{{- /* MESSAGE */ -}}
{{- define "Message"}}
{{- $MessageName := .Name}}

{{- range .Fields}}
{{/* EMPTY LINE */}}
{{- if .Repeated}}
func (x *{{$MessageName}}) Get{{.Name}}() kdsync.Repeated[{{template "FieldType" .}}] {
	return &x.xxx_hidden_{{.Name}}
}

func (x *{{$MessageName}}) init{{.Name}}() {
	dirtyFunc := func(t kdsync.DirtyType) {
		x.updateDirty(uint64(0x01) << {{.Number}}, t&{{template "DirtyType" .}})
	}
{{- if eq .TypeKind "component"}}
	x.xxx_hidden_{{.Name}}.Init(dirtyFunc, &{{template "MessageType" .Type}})
{{- else if eq .TypeKind "enum"}}
	x.xxx_hidden_{{.Name}}.Init(dirtyFunc, {{template "EnumCodec" .Type}})
{{- else}}
	x.xxx_hidden_{{.Name}}.Init(dirtyFunc, {{template "FieldCodec" .Type}})
{{- end}}
}
{{- else if .Map}}
func (x *{{$MessageName}}) Get{{.Name}}() kdsync.Map[{{template "Type" .KeyType}}, {{template "FieldType" .}}] {
	return &x.xxx_hidden_{{.Name}}
}

func (x *{{$MessageName}}) init{{.Name}}() {
	dirtyFunc := func(t kdsync.DirtyType) {
		x.updateDirty(uint64(0x01) << {{.Number}}, t&{{template "DirtyType" .}})
	}
{{- if eq .TypeKind "component"}}
	x.xxx_hidden_{{.Name}}.Init(dirtyFunc, {{template "FieldCodec" .KeyType}}, &{{template "MessageType" .Type}})
{{- else if eq .TypeKind "enum"}}
	x.xxx_hidden_{{.Name}}.Init(dirtyFunc, {{template "FieldCodec" .KeyType}}, {{template "EnumCodec" .Type}})
{{- else}}
	x.xxx_hidden_{{.Name}}.Init(dirtyFunc, {{template "FieldCodec" .KeyType}}, {{template "FieldCodec" .Type}})
{{- end}}
}
{{- else if eq .TypeKind "component"}}
func (x *{{$MessageName}}) Get{{.Name}}() {{template "FieldType" .}} {
	return x.xxx_hidden_{{.Name}}
}

func (x *{{$MessageName}}) set{{.Name}}(v *{{.Type}}) {
	if v != nil && v.checkDirtyParent() {
		panic("the component should be removed from its original place first")
	}
	if v == x.xxx_hidden_{{.Name}} {
		return
	}
	if x.xxx_hidden_{{.Name}} != nil {
		x.xxx_hidden_{{.Name}}.clearDirtyParent()
	}
	x.xxx_hidden_{{.Name}} = v

	if v != nil {
		v.setDirtyParent(func(t kdsync.DirtyType) {
			x.updateDirty(uint64(0x01)<<{{.Number}}, t&{{template "DirtyType" .}})
		})
	}
	x.updateDirty(uint64(0x01)<<{{.Number}}, {{template "DirtyType" .}})
}
{{- else}}
func (x *{{$MessageName}}) Get{{.Name}}() {{template "FieldType" .}} {
	return x.xxx_hidden_{{.Name}}
}

func (x *{{$MessageName}}) Set{{.Name}}(v {{template "FieldType" .}}) {
{{- if eq .Type "bytes"}}
	if v == nil && x.xxx_hidden_{{.Name}} == nil {
		return
	}
{{- else if eq .Type "timestamp"}}
	if v.Equal(x.xxx_hidden_{{.Name}}) {
		return
	}
{{- else}}
	if v == x.xxx_hidden_{{.Name}} {
		return
	}
{{- end}}
	x.xxx_hidden_{{.Name}} = v
	x.updateDirty(uint64(0x01) << {{.Number}}, {{template "DirtyType" .}})
}
{{- end}}
{{- end}}

func (x *{{$MessageName}}) Marshal(b []byte) ([]byte, error) {
	var err error
{{- range .Fields}}
{{- if .Repeated}}
	if b, err = wire.MarshalMessage(b, {{.Number}}, &x.xxx_hidden_{{.Name}}); err != nil {
		return b, err
	}
{{- else if .Map}}
	if b, err = wire.MarshalMessage(b, {{.Number}}, &x.xxx_hidden_{{.Name}}); err != nil {
		return b, err
	}
{{- else if eq .TypeKind "component"}}
	if b, err = wire.MarshalMessage(b, {{.Number}}, x.xxx_hidden_{{.Name}}); err != nil {
		return b, err
	}
{{- else if eq .TypeKind "enum"}}
	// FIXME: enum value
	if b, err = wire.MarshalInt32(b, {{.Number}}, int32(x.xxx_hidden_{{.Name}})); err != nil {
		return b, err
	}
{{- else}}
	if b, err = wire.Marshal{{ucFirst .Type}}(b, {{.Number}}, x.xxx_hidden_{{.Name}}); err != nil {
		return b, err
	}
{{- end}}
{{- end}}
	return b, err
}

func (x *{{$MessageName}}) MarshalChange(b []byte) ([]byte, error) {
	if x.dirty&uint64(0x01) != 0 {
		return x.Marshal(b)
	}
	var err error
{{- range .Fields}}
	if x.dirty&(uint64(0x01)<<{{.Number}}) != 0 {
{{- if .Repeated}}
		if b, err = wire.MarshalMessageChange(b, {{.Number}}, &x.xxx_hidden_{{.Name}}); err != nil {
			return b, err
		}
{{- else if .Map}}
		if b, err = wire.MarshalMessageChange(b, {{.Number}}, &x.xxx_hidden_{{.Name}}); err != nil {
			return b, err
		}
{{- else if eq .TypeKind "component"}}
		if b, err = wire.MarshalMessageChange(b, {{.Number}}, x.xxx_hidden_{{.Name}}); err != nil {
			return b, err
		}
{{- else if eq .TypeKind "enum"}}
		// FIXME: enum value
		if b, err = wire.MarshalInt32(b, {{.Number}}, int32(x.xxx_hidden_{{.Name}})); err != nil {
			return b, err
		}
{{- else}}
		if b, err = wire.Marshal{{ucFirst .Type}}(b, {{.Number}}, x.xxx_hidden_{{.Name}}); err != nil {
			return b, err
		}
{{- end}}
	}
{{- end}}
	return b, err
}

func (x *{{$MessageName}}) Unmarshal(b []byte) error {
	for len(b) > 0 {
		num, wtyp, tagLen, err := wire.ConsumeTag(b)
		if err != nil {
			return err
		}
		var valLen int
		err = wire.ErrUnknown
		switch num {
{{- range .Fields}}
		case {{.Number}}:
{{- if .Repeated}}
			valLen, err = wire.UnmarshalMessage(b[tagLen:], wtyp, &x.xxx_hidden_{{.Name}})
{{- else if .Map}}
			valLen, err = wire.UnmarshalMessage(b[tagLen:], wtyp, &x.xxx_hidden_{{.Name}})
{{- else if eq .TypeKind "component"}}
			valLen, err = wire.UnmarshalMessage(b[tagLen:], wtyp, x.xxx_hidden_{{.Name}})
{{- else if eq .TypeKind "enum"}}
			// FIXME: enum value
			*(*int32)(&x.xxx_hidden_{{.Name}}), valLen, err = wire.UnmarshalInt32(b[tagLen:], wtyp)
{{- else}}
			x.xxx_hidden_{{.Name}}, valLen, err = wire.Unmarshal{{ucFirst .Type}}(b[tagLen:], wtyp)
{{- end}}
{{- end}}
		}
		if err == wire.ErrUnknown {
			if valLen, err = wire.ConsumeFieldValue(num, wtyp, b[tagLen:]); err != nil {
				return err
			}
		} else if err != nil {
			return err
		}
		b = b[tagLen+valLen:]
	}
	return nil
}

func (x *{{$MessageName}}) MarshalJSONIndent(b []byte, prefix, indent string) ([]byte, error) {
{{- if not (len .Fields)}}
	return append(b, "{}"...)
{{- end}}

	var err error
	_ = err
	b = append(b, '{', '\n')
{{- $LastIndex := len (slice .Fields 1)}}
{{- range $Index, $Value := .Fields}}
{{- if not $Value.NoSync}}
	b = append(b, prefix...)
	b = append(b, indent + "\"{{$Value.Name}}\": "...)
{{- if .Repeated}}
	b, err = x.xxx_hidden_{{$Value.Name}}.MarshalJSONIndent(b, prefix+indent, indent)
	if err != nil {
		return nil, err
	}
{{- else if .Map}}
	b, err = x.xxx_hidden_{{.Name}}.MarshalJSONIndent(b, prefix+indent, indent)
	if err != nil {
		return nil, err
	}
{{- else}}
	b, err = kdsync.MarshalJSONIndent(b, x.xxx_hidden_{{.Name}}, prefix+indent, indent)
	if err != nil {
		return nil, err
	}
{{- end}}
{{- if ne $Index $LastIndex}}
	b = append(b, ',')
{{- end}}
	b = append(b, '\n')
{{- end}}
{{- end}}
	b = append(b, prefix...)
	b = append(b, '}')
	return b, nil
}
{{- end}}

{{- /* ENTITY */ -}}
{{- define "Entity"}}
type {{.Name}} struct {
	id int64
{{- range .Fields}}
{{- if .Repeated}}
	xxx_hidden_{{.Name}} {{template "RepeatedType" .}}
{{- else if .Map}}
	xxx_hidden_{{.Name}} {{template "MapType" .}}
{{- else if eq .TypeKind "component"}}
	xxx_hidden_{{.Name}} *{{.Type}}
{{- else}}
	xxx_hidden_{{.Name}} {{template "Type" .Type}}
{{- end}}
{{- end}}

	dirty        uint64
	persistDirty uint64
}

func New{{.Name}}(id int64) *{{.Name}} {
	x := new({{.Name}})
	x.id = id
	x.dirty = 1
	x.persistDirty = 1
{{- range .Fields}}
{{- if .Repeated}}
	x.init{{.Name}}()
{{- else if .Map}}
	x.init{{.Name}}()
{{- else if eq .TypeKind "component"}}
	x.set{{.Name}}(New{{.Type}}())
{{- end}}
{{- end}}
	return x
}

func (x *{{.Name}}) Id() int64 {
	return x.id
}
{{- template "Message" .}}

func (x *{{.Name}}) updateDirty(n uint64, t kdsync.DirtyType) {
	switch t {	
	case kdsync.DirtyType_Sync:
		if x.dirty&n == n {
			return
		}
		x.dirty |= n
	case kdsync.DirtyType_Persist:
		if x.persistDirty&n == n {
			return
		}
		x.persistDirty |= n
	case kdsync.DirtyType_SyncAndPersist:
		if x.dirty&n == n && x.persistDirty&n == n {
			return
		}
		x.dirty |= n
		x.persistDirty |= n
	}
}

func (x *{{.Name}}) checkDirty(n uint64) bool {
	return x.dirty&n != 0
}

func (x *{{.Name}}) CheckDirty() bool {
	return x.dirty != 0
}

func (x *{{.Name}}) ClearDirty() {
	if x.dirty == 0 {
		return
	}
{{- range .Fields}}
{{- if not .NoSync}}
{{- if .Repeated}}
	if x.dirty&uint64(0x01) != 0 || x.dirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearDirty()
	}
{{- else if .Map}}
	if x.dirty&uint64(0x01) != 0 || x.dirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearDirty()
	}
{{- else if eq .TypeKind "component"}}
	if x.dirty&uint64(0x01) != 0 || x.dirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearDirty()
	}
{{- end}}
{{- end}}
{{- end}}
	x.dirty = 0
}

func (x *{{.Name}}) ClearPersistDirty() {
	if x.persistDirty == 0 {
		return
	}
{{- range .Fields}}
{{- if not .NoPersist}}
{{- if .Repeated}}
	if x.persistDirty&uint64(0x01) != 0 || x.persistDirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearPersistDirty()
	}
{{- else if .Map}}
	if x.persistDirty&uint64(0x01) != 0 || x.persistDirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearPersistDirty()
	}
{{- else if eq .TypeKind "component"}}
	if x.persistDirty&uint64(0x01) != 0 || x.persistDirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearPersistDirty()
	}
{{- end}}
{{- end}}
{{- end}}
	x.persistDirty = 0
}

func (x *{{.Name}}) CheckPersistDirty() bool {
	return x.persistDirty != 0
}

func (x *{{.Name}}) String() string {
	b, _ := x.MarshalJSONIndent(nil, "", "  ")
	return string(b)
}
{{- end}}

{{- /* COMPONENT */ -}}
{{- define "Component"}}
type {{.Name}} struct {
{{- range .Fields}}
{{- if .Repeated}}
	xxx_hidden_{{.Name}} {{template "RepeatedType" .}}
{{- else if .Map}}
	xxx_hidden_{{.Name}} {{template "MapType" .}}
{{- else if eq .TypeKind "component"}}
	xxx_hidden_{{.Name}} *{{.Type}}
{{- else}}
	xxx_hidden_{{.Name}} {{template "Type" .Type}}
{{- end}}
{{- end}}

	dirty        uint64
	persistDirty uint64
	dirtyParent  kdsync.DirtyFunc
}

func New{{.Name}}() *{{.Name}} {
	x := new({{.Name}})
	x.dirty = 1
	x.persistDirty = 1
{{- range .Fields}}
{{- if .Repeated}}
	x.init{{.Name}}()
{{- else if .Map}}
	x.init{{.Name}}()
{{- else if eq .TypeKind "component"}}
	x.set{{.Name}}(New{{.Type}}())
{{- end}}
{{- end}}
	return x
}
{{- template "Message" .}}

func (x *{{.Name}}) updateDirty(n uint64, t kdsync.DirtyType) {
	switch t {	
	case kdsync.DirtyType_Sync:
		if x.dirty&n == n {
			return
		}
		x.dirty |= n
		x.dirtyParent.Invoke(kdsync.DirtyType_Sync)
	case kdsync.DirtyType_Persist:
		if x.persistDirty&n == n {
			return
		}
		x.persistDirty |= n
		x.dirtyParent.Invoke(kdsync.DirtyType_Persist)
	case kdsync.DirtyType_SyncAndPersist:
		if x.dirty&n == n && x.persistDirty&n == n {
			return
		}
		x.dirty |= n
		x.persistDirty |= n
		x.dirtyParent.Invoke(kdsync.DirtyType_SyncAndPersist)
	}
}

func (x *{{.Name}}) checkDirty(n uint64) bool {
	return x.dirty&n != 0
}

func (x *{{.Name}}) ClearDirty() {
	if x.dirty == 0 {
		return
	}
{{- range .Fields}}
{{- if not .NoSync}}
{{- if .Repeated}}
	if x.dirty&uint64(0x01) != 0 || x.dirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearDirty()
	}
{{- else if .Map}}
	if x.dirty&uint64(0x01) != 0 || x.dirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearDirty()
	}
{{- else if eq .TypeKind "component"}}
	if x.dirty&uint64(0x01) != 0 || x.dirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearDirty()
	}
{{- end}}
{{- end}}
{{- end}}
	x.dirty = 0
}

func (x *{{.Name}}) ClearPersistDirty() {
	if x.persistDirty == 0 {
		return
	}
{{- range .Fields}}
{{- if not .NoPersist}}
{{- if .Repeated}}
	if x.persistDirty&uint64(0x01) != 0 || x.persistDirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearDirty()
	}
{{- else if .Map}}
	if x.persistDirty&uint64(0x01) != 0 || x.persistDirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearDirty()
	}
{{- else if eq .TypeKind "component"}}
	if x.persistDirty&uint64(0x01) != 0 || x.persistDirty&(uint64(0x01)<<{{.Number}}) != 0 {
		x.xxx_hidden_{{.Name}}.ClearDirty()
	}
{{- end}}
{{- end}}
{{- end}}
	x.persistDirty = 0
}

func (x *{{.Name}}) checkDirtyParent() bool {
	return x.dirtyParent != nil
}

func (x *{{.Name}}) setDirtyParent(dirtyParent kdsync.DirtyFunc) {
	x.dirtyParent = dirtyParent
	x.dirty = uint64(0x01)
	x.persistDirty = uint64(0x01)
}

func (x *{{.Name}}) clearDirtyParent() {
	x.dirtyParent = nil
	x.ClearDirty()
	x.ClearPersistDirty()
}

var {{template "MessageType" .Name}} = kdsync.MessageType[{{.Name}}, *{{.Name}}]{
	New:              New{{.Name}},
	CheckDirtyParent: (*{{.Name}}).checkDirtyParent,
	SetDirtyParent:   (*{{.Name}}).setDirtyParent,
	ClearDirtyParent: (*{{.Name}}).clearDirtyParent,
}
{{- end}}

{{- /* END DEFINE */ -}}
{{- /* BEGIN GO */ -}}
// Code generated by kds. DO NOT EDIT.
// source: {{.SourceFile}}

package {{.Package}}
{{- /* IMPORTS */ -}}
{{- if or (len .Entities) (len .Components) (len .Types)}}
{{/* EMPTY LINE */}}
import (
{{- $SpacesBefore := false}}
{{- $ImportTime := false}}
{{- range .FieldTypes}}
{{- if and (not $ImportTime) (eq . "timestamp" "duration")}}
{{- $ImportTime = true}}
{{- end}}
{{- end}}
{{- if $ImportTime}}
	"time"
{{- $SpacesBefore = true}}
{{- end}}
{{- if $SpacesBefore}}
{{/* EMPTY LINE */}}
{{- end}}
	"github.com/iakud/knoll/kdsync"
	"github.com/iakud/knoll/kdsync/wire"
)
{{- end}}
{{- /* COMMON TYPES */ -}}
{{- range .Types}}

{{- end}}
{{- /* TOPLEVEL DEFINE */ -}}
{{- range .Defs}}
{{/* EMPTY LINE */}}
{{- if eq .Kind "enum"}}
{{- template "Enum" .}}

{{- else if eq .Kind "entity"}}
{{- template "Entity" .}}

{{- else if eq .Kind "component"}}
{{- template "Component" .}}
{{- end}}

{{- end}}
{{/* EMPTY LINE */}}
{{- /* END GO */ -}}